/* selection color */
::-moz-selection {
    /* Code for Firefox */
    color: rgb(229 231 235);
    background: rgb(163, 56, 111);
}

::selection {
    color: rgb(229 231 235);
    background: rgb(163, 56, 111);
}

/* drop down menu */
.ham {
    filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(200deg)
        brightness(105%) contrast(105%);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 3;
    stroke-linecap: round;
}
.ham7 .top {
    stroke-dasharray: 40 82;
}
.ham7 .middle {
    stroke-dasharray: 40 111;
}
.ham7 .bottom {
    stroke-dasharray: 40 161;
}
.ham7.active .top {
    stroke-dasharray: 17 82;
    stroke-dashoffset: -62px;
}
.ham7.active .middle {
    stroke-dashoffset: 23px;
}
.ham7.active .bottom {
    stroke-dashoffset: -83px;
}
#dropdown_list .active {
    transform: translate(-150vw, 0);
}

/* titles */
h2,
h3 {
    animation: text-gradient 5s infinite;
}

@keyframes text-gradient {
    0% {
        color: rgb(244 114 182);
    }
    20% {
        color: rgb(180, 64, 190);
    }
    80% {
        color: rgb(182, 59, 114);
    }

    100% {
        color: rgb(180, 64, 190);
    }
}

/* big buttons hover  */
.only_hover_gradient:hover {
    background: linear-gradient(
        240deg,
        rgba(244, 114, 181, 0.686),
        rgb(180, 64, 190, 0.686),
        rgb(182, 59, 114, 0.686)
    );
    -webkit-animation: background-animation 27s ease infinite;
    -moz-animation: background-animation 27s ease infinite;
    -o-animation: background-animation 27s ease infinite;
    animation: backgrsound-animation 27s ease infinite;
}
.only_hover_gradient:hover > h3 {
    animation: none;
}
.only_hover_gradient:hover > p {
    color: rgb(229 231 235);
}

/* footer */

#wrap {
    width: 100%;
    height: 20rem;
    position: relative;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

#lightings {
    bottom: -60px;
    position: absolute;
    width: 100%;
}

#one,
#two,
#three,
#four,
#five {
    /*border-radius*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 100%;
    position: relative;
    margin: auto;
}

#one {
    /*animation*/
    -webkit-animation: one 5s ease-in-out infinite alternate;
    -moz-animation: one 5s ease-in-out infinite alternate;
    -ms-animation: one 5s ease-in-out infinite alternate;
    -o-animation: one 5s ease-in-out infinite alternate;
    animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes one {
    from {
        -webkit-box-shadow: 0 0 250px 20px #473c78;
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px rgb(163, 56, 111);
    }
}
@-moz-keyframes one {
    from {
        -moz-box-shadow: 0 0 250px 20px #473c78;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px rgb(163, 56, 111);
    }
}
@-o-keyframes one {
    from {
        -o-box-shadow: 0 0 250px 20px #473c78;
    }

    to {
        -o-box-shadow: 0 0 100px 15px rgb(163, 56, 111);
    }
}

@keyframes one {
    from {
        box-shadow: 0 0 250px 20px #473c78;
    }

    to {
        box-shadow: 0 0 100px 15px rgb(163, 56, 111);
    }
}

#two {
    width: 90%;
    /*animation*/
    -webkit-animation: two 4s ease-in-out infinite alternate;
    -moz-animation: two 4s ease-in-out infinite alternate;
    -ms-animation: two 4s ease-in-out infinite alternate;
    -o-animation: two 4s ease-in-out infinite alternate;
    animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes two {
    from {
        -webkit-box-shadow: 0 0 250px 20px #d500ba;
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px #00a8d2;
    }
}
@-moz-keyframes two {
    from {
        -moz-box-shadow: 0 0 250px 20px #d500ba;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px #00a8d2;
    }
}
@-o-keyframes two {
    from {
        -o-box-shadow: 0 0 250px 20px #d500ba;
    }

    to {
        -o-box-shadow: 0 0 100px 15px #00a8d2;
    }
}

@keyframes two {
    from {
        box-shadow: 0 0 250px 20px #d500ba;
    }

    to {
        box-shadow: 0 0 100px 15px #00a8d2;
    }
}

#three {
    width: 80%;
    /*animation*/
    -webkit-animation: three 3s ease-in-out infinite alternate;
    -moz-animation: three 3s ease-in-out infinite alternate;
    -ms-animation: three 3s ease-in-out infinite alternate;
    -o-animation: three 3s ease-in-out infinite alternate;
    animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes three {
    from {
        -webkit-box-shadow: 0 0 250px 20px #00a8d2;
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px rgb(163, 56, 111);
    }
}
@-moz-keyframes three {
    from {
        -moz-box-shadow: 0 0 250px 20px #00a8d2;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px rgb(163, 56, 111);
    }
}
@-o-keyframes three {
    from {
        -o-box-shadow: 0 0 250px 20px #00a8d2;
    }

    to {
        -o-box-shadow: 0 0 100px 15px rgb(163, 56, 111);
    }
}

@keyframes three {
    from {
        box-shadow: 0 0 250px 20px #00a8d2;
    }

    to {
        box-shadow: 0 0 100px 15px rgb(163, 56, 111);
    }
}

#four {
    width: 70%;
    /*animation*/
    -webkit-animation: four 2s ease-in-out infinite alternate;
    -moz-animation: four 2s ease-in-out infinite alternate;
    -ms-animation: four 2s ease-in-out infinite alternate;
    -o-animation: four 2s ease-in-out infinite alternate;
    animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes four {
    from {
        -webkit-box-shadow: 0 0 250px 20px #781848;
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px #f2bbe9;
    }
}
@-moz-keyframes four {
    from {
        -moz-box-shadow: 0 0 250px 20px #781848;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px #f2bbe9;
    }
}
@-o-keyframes four {
    from {
        -o-box-shadow: 0 0 250px 20px #781848;
    }

    to {
        -o-box-shadow: 0 0 100px 15px #f2bbe9;
    }
}

@keyframes four {
    from {
        shadow: 0 0 250px 20px #781848;
    }

    to {
        shadow: 0 0 100px 15px #f2bbe9;
    }
}

#five {
    width: 60%;
    /*animation*/
    -webkit-animation: five 1s ease-in-out infinite alternate;
    -moz-animation: five 1s ease-in-out infinite alternate;
    -ms-animation: five 1s ease-in-out infinite alternate;
    -o-animation: five 1s ease-in-out infinite alternate;
    animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes five {
    from {
        -webkit-box-shadow: 0 0 250px 20px #42f2a1;
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px #f4f6ad;
    }
}
@-moz-keyframes five {
    from {
        -moz-box-shadow: 0 0 250px 20px #42f2a1;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px #f4f6ad;
    }
}
@-o-keyframes five {
    from {
        -o-box-shadow: 0 0 250px 20px #42f2a1;
    }

    to {
        -o-box-shadow: 0 0 100px 15px #f4f6ad;
    }
}

@keyframes five {
    from {
        box-shadow: 0 0 250px 20px #42f2a1;
    }

    to {
        box-shadow: 0 0 100px 15px #f4f6ad;
    }
}

/* info carousel */
.carousel {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    pointer-events: none;
}

.carousel-item {
    --items: 10;
    --width: clamp(250px, 30vw, 300px);
    --height: clamp(300px, 40vw, 400px);
    --x: calc(var(--active) * 800%);
    --y: calc(var(--active) * 200%);
    --rot: calc(var(--active) * 120deg);
    --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 10px;
    top: 65%;
    left: 50%;
    user-select: none;
    transform-origin: 0% 100%;
    box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
    background: black;
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--rot));
    transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}
.carousel-item .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
}
.carousel-item .carousel-box:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.5)
    );
}
.carousel-item .title {
    z-index: 1;
    color: #fff;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.carousel-item h4 {
    font-size: clamp(20px, 3vw, 30px);
}
.carousel-item .num {
    z-index: 1;
    color: #fff;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 10vw, 80px);
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
    z-index: -1;
    position: absolute;
    pointer-events: none;
}

.layout {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.layout:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 90px;
    width: 10px;
    height: 100%;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    opacity: 0.15;
}
.layout .box {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #fff;
    transform-origin: 0% 10%;
    transform: rotate(-90deg);
    font-size: 9px;
    line-height: 1.4;
    text-transform: uppercase;
    opacity: 0.4;
}

.logo {
    position: absolute;
    z-index: 2;
    top: 28px;
    right: 28px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Orelo-sw-db", serif;
    pointer-events: all;
    color: black;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    padding-bottom: 0.1em;
}

.social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 25px;
    color: #fff;
    opacity: 0.4;
}
.social a {
    display: inline-block;
    margin-left: 3px;
}
.social svg {
    --fill: #fff;
    width: 35px;
    height: 35px;
}

/* coursor */
#blob {
    background-color: #fff;
    height: 500px;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
}
#blur {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(200px);
}
@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1 1.5;
    }
    to {
        rotate: 360deg;
    }
}
